# Data Input and Output

To this point, we have primarily entered the information into our various data structures manually. For most applications, we will load our data into an appropriate data structure, and potentially output our processed and/or analyzed data using one of potentially many approaches. We have already encountered the following methods that facilitate saving and loading data:

* %pwd, %ls, %cd magic commands
* !pwd, !ls, !cd shell commands
* os module
* %store magic command
* NumPy save/savetxt and load/loadtxt/genfromtxt

Today, we will explore several other methods:

* glob module
* Standard file input and output
* csv reader
* pickle and shelve modules
* pandas methods

In addition to today's topics, you may also want to explore Python's capability for interacting with other data types:

* json module (JSON)
* lxml (XML)
* requests, urllib2 modules (HTML)
* BeautifulSoup (HTML)
* Excel files (pd.read_excel)
* Database methods (sqlalchemy, pd.read_sql, sqlite3)
* Web application programming interface (API) methods

Friendly Reminders:

* Homework #2 due tonight by 11:59 p.m.
* Homework #3 released today, due March 5 by 11:59 p.m.
* Project proposal due March 7 by 11:59 p.m.

## glob Module

The **glob** module allows you to determine all of the file names on a particular path that match a particular pattern. The glob module offers two functions:

* glob.glob(*pattern*) returns a list of file names that match *pattern*
* glob.iglob(*pattern*) performs the same operation, but returns an iterator object instead (useful for many files)

The pattern may consist of explicit characters for the directory path and file names, but also any combination of the following Unix-based special characters:

* The asterisk ('*') matches text of any length
* The question mark ('?') matches any single character
* '[set]' matches any characters in the set
* '[!set]' matches any characters not in the set

In [1]:
import glob

In [44]:
# Change current working directory to data folder
%cd '/Users/charmain/Desktop/Master Degree/Term 2/Data Processing & Analysis in Python/Data Files/'

/Users/charmain/Desktop/Master Degree/Term 2/Data Processing & Analysis in Python/Data Files

In [45]:
# Extract text files within names directory - glob
name_files = glob.glob('names/*.txt') # unsorted by default
name_files[:5]

['names/yob2000.txt',
 'names/yob1938.txt',
 'names/yob1910.txt',
 'names/yob1904.txt',
 'names/yob1905.txt']

In [13]:
# Extract text files within names directory - glob
name_iter = glob.iglob('names/*.txt')
sorted([f for f in name_iter if 'yob2' in f]) # use list comprehension to filter to 2000s

['names/yob2000.txt',
 'names/yob2001.txt',
 'names/yob2002.txt',
 'names/yob2003.txt',
 'names/yob2004.txt',
 'names/yob2005.txt',
 'names/yob2006.txt',
 'names/yob2007.txt',
 'names/yob2008.txt',
 'names/yob2009.txt',
 'names/yob2010.txt']

## Standard File Input and Output

Python offers built-in functionality for reading from and writing to text files, which is useful for interacting with both structured and unstructured data. Everything that is read from or written to a file is a string, so you must using casting (e.g., cast numerical scalars using **str** to write to a file, cast strings to **int**, **float**, and **bool** when reading from a file) as needed.

The basic syntax for interacting with file objects is:
```
f = open(fname, mode='r')
```
where *fname* is either a file name string ('data.txt') or a full path-to-file string ('~/Documents/data.txt') and *mode* is most commonly 'r' (read only), 'w' (write only), 'a' (append), or 'r+' (read and write). When writing to a new file, it's important to specify write mode so that the file has the appropriate permissions to write data to the file. It's also important to include the appropriate delimiter (if applicable) and the appropriate newline character for your respective operating system (see os.linesep).

In [14]:
import os

In [15]:
os.linesep

'\n'

The **open** function creates a file object, which has many attributes and methods for interacting with the file. The most notable methods are:

* f.read(*size*) - Reads entire file as a string (if *size* is not specified), or a chunk of the file (equal to *size* in bytes)
* f.readline() - Generator that produces one line of the file at a time
* Loop!
```
for line in f:
    print(line)
```
* f.write(*s*) - Write string _s_ to file
* f.close() - Close file when done reading/writing

It's important to note that once you reach of the end of the file, you cannot iterate through it again, unless you re-open the file or navigate to a specific place in the file using f.seek(*offset*), where *offset* is the location in the file where you want to move, relative to the beginning of the file (0 bytes). You can also use f.tell() to determine the current location (in bytes) in the file.

In [16]:
# Open name file
f = open(name_files[0]) # default is read only mode ('r')
f

In [17]:
# Read line of file
f.readline()

'Emily,F,25949\n'

In [18]:
# print next line of file
print(f.readline())   ## readline() will keep moving

Hannah,F,23066

In [19]:
# Check file position
f.tell()             ## tell() could know what position we are

31

In [20]:
# Go back to beginning of file
f.seek(0)
f.readline()

'Emily,F,25949\n'

In [21]:
# Loop through file and extract all names that begin with a specific letter
letter = 'Q'
f.seek(0)
names = []
for line in f:
    if line[0] == letter:
        names.append(line.split(',')[0])
f.close()    ## when we are done we close file, which is a good manner
print(names)

['Quinn', 'Quincy', 'Quiana', 'Queen', 'Quanisha', 'Quianna', 'Queenie', 'Qiana', 'Quinlan', 'Quiara', 'Quintasia', 'Quantaya', 'Quintessa', 'Quincey', 'Quyen', 'Quanesha', 'Quinci', 'Quinesha', 'Quinlyn', 'Qiara', 'Quincie', 'Quaneisha', 'Quasia', 'Quantasia', 'Quinisha', 'Quinteria', 'Quanique', 'Quierra', 'Quadasia', 'Quantavia', 'Quashia', 'Querida', 'Quintaya', 'Quynh', 'Quaniya', 'Quayla', 'Queena', 'Quetzalli', 'Qadira', 'Qianna', 'Quanae', 'Quetzali', 'Quiera', 'Quincee', 'Quinlin', 'Quinne', 'Quinnlyn', 'Quintara', 'Quintera', 'Quinterria', 'Quinn', 'Quentin', 'Quinton', 'Quincy', 'Quintin', 'Quinten', 'Quinlan', 'Quenton', 'Quran', 'Quadir', 'Quintavious', 'Quan', 'Quin', 'Quenten', 'Quincey', 'Quindarius', 'Qasim', 'Quest', 'Quade', 'Quamir', 'Quantavious', 'Quavon', 'Quadarius', 'Quantez', 'Quintez', 'Quaid', 'Quashawn', 'Quandarius', 'Quintyn', 'Quintan', 'Quang', 'Quante', 'Qadir', 'Quinnton', 'Quintarius', 'Quintrell', 'Quadre', 'Quashaun', 'Quantae', 'Quantavius', 'Quavion', 'Quintavius', 'Quamaine', 'Quron', 'Quartez', 'Quindarious', 'Quinterius', 'Quillan', 'Quaron', 'Quame', 'Quantavis', 'Quantrell', 'Quaylon', 'Quentyn', 'Quinlin', 'Quinnlan', 'Quoc', 'Quadrell', 'Qualin', 'Quantarius', 'Quashon', 'Quasim', 'Quason', 'Quendarius', 'Quentavious', 'Quevon', 'Quince', 'Quinshawn', 'Quintel', 'Quinterious', 'Quinterrius', 'Quishawn', 'Qamar', 'Qi', 'Quadarious', 'Quamere', 'Quashun', 'Qudarius', 'Que', 'Quess', 'Quienten', 'Quintavis', 'Quintell', 'Quion', 'Quisean', 'Qian', 'Quadere', 'Quameer', 'Quandre', 'Quantay', 'Quanterius', 'Quanterrious', 'Quatavious', 'Quayshawn', 'Quayvon', 'Quency', 'Quetzalcoatl', 'Quinell']

In [23]:
# Open new file to write results
g = open(letter + 'names.csv', 'w')

In [24]:
# Loop through file and write names that begin with a specific letter, along with their length
with open(name_files[0]) as f: # alternate construction for opening file, closes file upon exit from with statement
    for line in f:
        if line[0] == letter:
            name = line.split(',')[0]
            g.write(name + ',' + str(len(name)) + os.linesep)   
g.close()

In [25]:
# Preview file contents
!head -n10 $g.name

Quinn,5
Quincy,6
Quiana,6
Queen,5
Quanisha,8
Quianna,7
Queenie,7
Qiana,5
Quinlan,7
Quiara,6

## csv Module

Comma Separated Files (.csv) are one of the most common flat file formats for storing data, and are often output from common software platforms such as Microsoft Excel, various databases, or other programming languages. Commas are sufficient delimiters for structured numerical data (in the U.S.), but they can cause problems when working with data that may contain commas. In such cases, you should use another delimiter (e.g., space, tab; see csv.writer) that facilitates an easy import.

In [26]:
!head -n5 names/yob1880.txt

The **csv** module facilitates easy reading and writing to/from .csv files. The csv has two primary functions, csv.reader and csv.writer, that perform these functions. Each of these functions must be fed an open file handle (i.e., generated via an open(*filename*) call).

In [27]:
import csv

In [28]:
# Open file and create csv reader object
f = open(name_files[0])     ## before we use csv reader or writter, we still need to open the file
reader = csv.reader(f)

In [29]:
# Loop through file and extract all names that begin with a specific letter
letter = 'U'
names = []
for line in reader:
    if line[0][0] == letter:      ## line[0]: select the first word, then line[0][0] select the first letter of it
        names.append(line[0])    ## csv does "split" for us
f.close()
print(names)

['Unique', 'Uma', 'Ursula', 'Unknown', 'Uriah', 'Una', 'Ulyssa', 'Unity', 'Urvi', 'Ulani', 'Uchenna', 'Uniqua', 'Umayah', 'Uriel', 'Uyen', 'Uchechi', 'Uchechukwu', 'Ulyana', 'Unica', 'Ubah', 'Ugochi', 'Ula', 'Umaya', 'Urja', 'Urmi', 'Ushna', 'Uzma', 'Uriel', 'Ulises', 'Ulysses', 'Uriah', 'Ulisses', 'Umar', 'Uziel', 'Ulices', 'Ubaldo', 'Unknown', 'Unique', 'Ulyses', 'Usman', 'Usama', 'Uri', 'Usher', 'Uzziel', 'Umair', 'Umer', 'Urian', 'Usiel', 'Uchenna', 'Uday', 'Uzziah', 'Uvaldo', 'Uzair', 'Urias', 'Ugonna', 'Utah', 'Ulrich', 'Urbano', 'Uzoma', 'Ulisis', 'Ulysess', 'Umberto', 'Urban', 'Urijah', 'Urie', 'Usamah']

In [30]:
# Open file for writing and create csv writer object
g = open(letter + 'names.csv', 'w')
writer = csv.writer(g, delimiter=',')

In [31]:
# Loop through file and extract all names that begin with a specific letter, along with their length
for name in names:
    writer.writerow((name, len(name)))   ## writerow(the sequence we want to show)
g.close()

In [32]:
# Preview file contents
!head -n10 $g.name

## pickle and shelve Modules

In addition to reading and writing data from/to files, you will also find it useful to directly save objects to a file, so that you can quickly load them without having to repeatedly convert them from text files. The pickle and shelve modules offer functionality for doing this:

* The **pickle** module performs *object serialization*, through which a Python object is converted into a binary format that is saveable.

* The **shelve** module performs *object persistence*, through which the object itself is preserved for later use in a dictionary-like structure (i.e., upon re-loading). The shelve module relies on the pickle module to save the objects.

In [33]:
import pickle, shelve

In [34]:
# Open file in binary write mode for pickling
f = open('name_list','bw') # pickle files do not need a file extension

In [35]:
# Dump list of names to file and close file
pickle.dump(names, f)
f.close()

In [36]:
# Delete names and re-load from pickle file
del names
f = open('name_list','br')
names = pickle.load(f)
f.close()
print(names)

['Unique', 'Uma', 'Ursula', 'Unknown', 'Uriah', 'Una', 'Ulyssa', 'Unity', 'Urvi', 'Ulani', 'Uchenna', 'Uniqua', 'Umayah', 'Uriel', 'Uyen', 'Uchechi', 'Uchechukwu', 'Ulyana', 'Unica', 'Ubah', 'Ugochi', 'Ula', 'Umaya', 'Urja', 'Urmi', 'Ushna', 'Uzma', 'Uriel', 'Ulises', 'Ulysses', 'Uriah', 'Ulisses', 'Umar', 'Uziel', 'Ulices', 'Ubaldo', 'Unknown', 'Unique', 'Ulyses', 'Usman', 'Usama', 'Uri', 'Usher', 'Uzziel', 'Umair', 'Umer', 'Urian', 'Usiel', 'Uchenna', 'Uday', 'Uzziah', 'Uvaldo', 'Uzair', 'Urias', 'Ugonna', 'Utah', 'Ulrich', 'Urbano', 'Uzoma', 'Ulisis', 'Ulysess', 'Umberto', 'Urban', 'Urijah', 'Urie', 'Usamah']

In [37]:
# Open shelve file for object persistence
S = shelve.open('names_shelve') # or, with shelve.open('names_shelve') as S:
S

In [38]:
# Add list of names to S and close file
S['names'] = names   ## add keys for shelf file
S.close()

In [39]:
# Delete list of names and re-load from shelve file
del names
with shelve.open('names_shelve') as S:
    print(S['names'])

['Unique', 'Uma', 'Ursula', 'Unknown', 'Uriah', 'Una', 'Ulyssa', 'Unity', 'Urvi', 'Ulani', 'Uchenna', 'Uniqua', 'Umayah', 'Uriel', 'Uyen', 'Uchechi', 'Uchechukwu', 'Ulyana', 'Unica', 'Ubah', 'Ugochi', 'Ula', 'Umaya', 'Urja', 'Urmi', 'Ushna', 'Uzma', 'Uriel', 'Ulises', 'Ulysses', 'Uriah', 'Ulisses', 'Umar', 'Uziel', 'Ulices', 'Ubaldo', 'Unknown', 'Unique', 'Ulyses', 'Usman', 'Usama', 'Uri', 'Usher', 'Uzziel', 'Umair', 'Umer', 'Urian', 'Usiel', 'Uchenna', 'Uday', 'Uzziah', 'Uvaldo', 'Uzair', 'Urias', 'Ugonna', 'Utah', 'Ulrich', 'Urbano', 'Uzoma', 'Ulisis', 'Ulysess', 'Umberto', 'Urban', 'Urijah', 'Urie', 'Usamah']

## pandas Methods

Being the primary module for data processing and analysis, it should not surprise you that there is a lot of functionality for interacting with various types of data sources. This functionality has grown significantly over the years, and will continue to grow as new file formats emerge.

* pd.read_csv - Load delimited data from a file, URL, or file-like object
* pd.read_table - Load delimited data from a file, URL, or file-like object
* pd.read_fwf - Load data in fixed-width column format (non-delimited files)
* pd.read_clipboard - Load data that is copied directly from another source (e.g., web page, Excel)
* pd.read_excel - Load data directly from Excel file (without saving to .csv)
* pd.read_html - Read tables found on a web page (URL) or within an HTML document
* pd.read_json - Read data from a JSON (JavaScript Object Notation) file
* pd.read_pickle - Read an objected stored in Python pickle format
* pd.read_sas - Read a SAS dataset
* pd.read_sql - Read the results of an SQL query into a DataFrame
* pd.read_stata - Read a dataset from Stata file format

And more! See Table 6-1 in the text for additional functions.

In [40]:
import numpy as np
import pandas as pd

### Reading Text Data with pandas

pd.read_csv is the most common functions use to import data from text (flat) files. As there are many potential nuances to loading data from text files, there are many arguments to this function that can facilitate proper data loading (in addition to the file path/name):

* sep, delimiter - String or regular expression to use to split the columns in each row
* header - Row number to use as column names, use header=None if there is no header in the data
* index_col - Column number(s) to use as index; multiple columns indicates hierarchical indexing
* names - Sequence of column names for result, use with header=None
* na_values - Sequence of values to replace with NA
* parse_dates - Boolean to determine whether to attempt to parse data to datetime scalars; False by default
* converters - Dictionary that specifies functions (values) to apply to specific columns (keys)
* squeeze - Boolean that, if True, will convert DataFrame to Series if there is only one column

In addition, there are several arguments that allow you read text files in pieces:

* nrows - Number of rows to read from beginning of file
* skiprows - Number of rows at beginning of file to ignore or list of specific row numbers to skip
* skip_footer - Number of rows to ignore at end of file
* chunksize - Creates iterator for looping through file in pieces; convenient for working with large files

And more! See Table 6-2 in the text for additional arguments.

In [47]:
# Load movies data using pd.read_csv
df = pd.read_csv('movies.csv')
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,27 Dresses,Comedy,Fox,71,5.343622,40,160.308654,2008
1,(500) Days of Summer,Comedy,Fox,81,8.096000,87,60.720000,2009
2,A Dangerous Method,Drama,Independent,89,0.448645,79,8.972895,2011
3,A Serious Man,Drama,Universal,64,4.382857,89,30.680000,2009
4,Across the Universe,Romance,Independent,84,0.652603,54,29.367143,2007

In [48]:
# Check dtypes
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience  score %      int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross      float64
Year                   int64
dtype: object

In [49]:
# Check column names
df.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience  score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [50]:
# Load movies data with dtype specifications
df = pd.read_csv('movies.csv', dtype={'Audience  score %': np.float64, 'Rotten Tomatoes %': np.float64})
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.308654,2008
1,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000,2009
2,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895,2011
3,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000,2009
4,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143,2007

In [51]:
# Importing data without headers
df = pd.read_csv(name_files[0])
df.head()

     Emily  F  25949
0   Hannah  F  23066
1  Madison  F  19965
2   Ashley  F  17991
3    Sarah  F  17677
4   Alexis  F  17622

In [52]:
# Importing data without headers
df = pd.read_csv(name_files[0], header=None)
df.head()

         0  1      2
0    Emily  F  25949
1   Hannah  F  23066
2  Madison  F  19965
3   Ashley  F  17991
4    Sarah  F  17677

In [53]:
# Importing data without headers
df = pd.read_csv(name_files[0], header=None, names=['Name','Gender','Count'])
df.head()

      Name Gender  Count
0    Emily      F  25949
1   Hannah      F  23066
2  Madison      F  19965
3   Ashley      F  17991
4    Sarah      F  17677

### Scraping Tabular Data from the Web with pandas

Scraping tabular data from a web site (or raw HTML) is probably the next most common method for importing data into your Python workspace. In addition to pd.read_clipboard--which you may find useful for simple tables--the pd.read_html function is the standard pandas function for scraping tabular data from a website. This function takes in a URL (as a string), HTML file-like object, or raw HTML text (as a string), and returns a list of all found HTML tables.

In addition to several of the same arguments that are available for the pd.read_csv function (e.g., header, index_col, skiprows, parse_dates, na_values, converters), there is also a *match* argument for which you can specify the exact table(s) that you want to return. The *match* argument could be an explicit string (e.g., substring, word, phrase) that you want to match (anywhere) within the table, or a regular expression (later).

**Also, be warned, scraping data from a web site is a messy process! Oftentimes, we will need to perform significant processing on the data before it is ready for analysis.**

In [54]:
# Clean HTML table
url = 'https://www.teamrankings.com/nba/stat/points-per-game'
df = pd.read_html(url, index_col=0)[0]
df

              Team   2018  Last 3  Last 1   Home   Away   2017
Rank
1     Golden State  118.8   114.0   107.0  119.0  118.6  112.8
2        Milwaukee  116.9   100.3   106.0  119.6  114.3  106.1
3     Philadelphia  115.9   126.0   126.0  119.1  112.5  109.7
4      New Orleans  115.6   103.0   131.0  116.8  114.5  111.5
5        Okla City  115.4   119.7   122.0  116.3  114.6  107.4
6          Toronto  114.3   120.0   129.0  115.8  112.9  111.2
7      LA Clippers  114.3   125.7   134.0  116.2  112.5  109.0
8       Washington  113.9   122.0   120.0  117.8  110.5  106.6
9       Sacramento  113.4   112.3   118.0  113.7  113.1   98.8
10        Portland  113.3   113.7   129.0  116.7  109.0  105.6
11         Houston  113.1   114.3   111.0  116.7  109.5  111.1
12          Boston  113.0   114.0   118.0  115.7  109.9  103.5
13     San Antonio  112.3   110.3   108.0  113.9  110.9  102.4
14        Brooklyn  112.3   126.3   148.0  114.9  109.6  106.6
15       LA Lakers  112.2   120.7   113.0  111.1  113.4  108.1
16          Denver  112.0   111.0   120.0  116.1  107.7  110.0
17       Minnesota  111.9   122.7   121.0  113.9  109.8  109.1
18       Charlotte  110.8   102.7    89.0  113.2  108.4  108.2
19         Atlanta  110.6   105.3    91.0  111.1  110.2  103.4
20            Utah  109.2   116.3   108.0  111.3  107.2  103.9
21          Dallas  108.7   102.3   101.0  110.4  107.0  102.3
22         Indiana  108.1   100.3    97.0  107.9  108.4  105.2
23         Detroit  106.6   117.0   110.0  108.4  104.4  103.8
24         Phoenix  105.9   106.0   107.0  105.9  106.0  103.9
25         Orlando  105.8   123.0   127.0  107.7  104.0  103.4
26        New York  105.3   107.0   106.0  105.3  105.3  104.5
27           Miami  105.1   105.7   112.0  104.3  105.8  103.4
28         Chicago  103.2   115.3   122.0  103.0  103.3  102.9
29       Cleveland  103.0   112.0   139.0  104.1  101.8  108.8
30         Memphis  100.6   105.3   110.0  100.9  100.3   99.3

In [55]:
# Index specific ranked team
df.loc[10]

Team      Portland
2018         113.3
Last 3       113.7
Last 1         129
Home         116.7
Away           109
2017         105.6
Name: 10, dtype: object

In [56]:
# Multiple HTML tables
url = 'https://www.basketball-reference.com/leagues/NBA_2018.html'
dfs = pd.read_html(url, match='Conference')
len(dfs)

4

In [57]:
# Show specific table
dfs[2]

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors* (1),59,23,.720,—,111.7,103.9,7.29
2,Boston Celtics* (2),55,27,.671,4.0,104.0,100.4,3.23
3,Philadelphia 76ers* (3),52,30,.634,7.0,109.8,105.3,4.30
4,New York Knicks (11),29,53,.354,30.0,104.5,108.0,-3.53
5,Brooklyn Nets (12),28,54,.341,31.0,106.6,110.3,-3.67
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,Cleveland Cavaliers* (4),50,32,.610,—,110.9,109.9,0.59
8,Indiana Pacers* (5),48,34,.585,2.0,105.6,104.2,1.18
9,Milwaukee Bucks* (7),44,38,.537,6.0,106.5,106.8,-0.45
10,Detroit Pistons (9),39,43,.476,11.0,103.8,103.9,-0.26
11,Chicago Bulls (13),27,55,.329,23.0,102.9,110.0,-6.84
12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,Miami Heat* (6),44,38,.537,—,103.4,102.9,0.15
14,Washington Wizards* (8),43,39,.524,1.0,106.6,106.0,0.53
15,Charlotte Hornets (10),36,46,.439,8.0,108.2,108.0,0.07
16,Orlando Magic (14),25,57,.305,19.0,103.4,108.2,-4.92
17,Atlanta Hawks (15),24,58,.293,20.0,103.4,108.8,-5.30

### Writing Data with pandas

Writing data from pandas data structures to a file is very straightforward. There are corresponding pandas functions to output Series and DataFrame objects to most of the file types that have read functions. A summary table is provided below.

In [ ]:
pd.read_html('https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html')[0]

Each file type has its own distinct set of arguments that allow you to configure how the data is saved to the file.

In [ ]:
# Output NBA team scoring data to .csv file
df.to_csv('nba_scoring2019.csv', columns=['Team','2018','Home','Away'], header=True, index=False)

## Next Time: pandas Lab