# pandas

pandas is the primary module of interest for this course, as it provides data processing and analysis functionality for data in many forms. In addition, pandas offers two additional data structures, the **Series** and the **DataFrame**, that leverage much of the most useful functionality from lists, dictionaries, and n-dimensional arrays.

Similar to our NumPy class, we will focus today on:

* Creating Series and DataFrame objects
* Getting familiar with Series and DataFrame methods
    - Indexing, slicing, and filtering
    - Mathematical operations
    - Sorting and ranking
    - Function application and mapping

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Creating Series and DataFrame objects

Similar to NumPy, most often, we will import our data into **Series** and **DataFrame** objects from another source; but for now, we will create them manually by casting from other appropriate data types.

### Series

**Series** objects are very similar to **ndarrays**...

* Indexing, slicing, filtering work in a similar way
* Easy and fast computation
* Concatenation

...with some additional features:

* An associated array of data labels, called an **index** object -- Index elements of a Series via positional indexing (as in an array) or via an index (similar to a dictionary key)
* Database-style merging

In [2]:
# Cast from another sequence object - list, tuple, or array
ser = Series([1,-2,3,-4])
ser

0    1
1   -2
2    3
3   -4
dtype: int64

In [3]:
# Basic indexing
ser[1]

-2

In [4]:
# Specify indices
ser = Series([1,-2,3,-4], index=['a','b','c','d'])
ser

a    1
b   -2
c    3
d   -4
dtype: int64

In [5]:
# Basic indexing - By index or position
print(ser.c, ser['c'], ser[2])

3 3 3

In [6]:
# Create from dictionary
D = {key:val for key,val in zip('abcd', [1,-2,3,-4])}
ser = Series(D)
ser

a    1
b   -2
c    3
d   -4
dtype: int64

In [7]:
# Drop values
ser.drop('c')   ## drop will make a copy for the object with the item that I dropped (inplace = True will drop the object)

a    1
b   -2
d   -4
dtype: int64

In [8]:
# Print Series
ser

a    1
b   -2
c    3
d   -4
dtype: int64

In [9]:
# Deleting values
del ser['c']
ser

a    1
b   -2
d   -4
dtype: int64

Series objects have attributes that are similar dictionaries:

In [10]:
# Index object - similar to dictionary keys, returns an index array
ser.index

Index(['a', 'b', 'd'], dtype='object')

In [11]:
# Values - similar to dictionary values, returns an array
ser.values

array([ 1, -2, -4])

In [12]:
# Check for membership
print('e' in ser.index)
print(-2 in ser.values)

False
True

### DataFrames

**DataFrames**, in their most basic form, are 2-dimensional data structures (rows and columns), and are similar in structure to a dictionary of Series objects (i.e., each Series is accessible via a column key). DataFrames can also represent higher dimensional data by leveraging *hierarchical indexing*.

Aside from loading data from a file directly into a DataFrame (later), the primary methods for creating a DataFrame are:

* From a dictionary of equal-length sequences or (any-length) Series objects
* From a 2-d array or sequence of equal-length sequences

In [13]:
# Dictionary of equal-length sequences
df = DataFrame({'a': [1,2,3], 'b': (4,5,6), 'c': np.array([7,8,9])}, index=[1,2,3])
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [18]:
# Dictionary of Series objects
df = DataFrame({'Original': ser.append(Series({'e':5})), 'Negated': -ser})
df

   Original  Negated
a         1     -1.0
b        -2      2.0
d        -4      4.0
e         5      NaN

In [22]:
# 2-d array
df = DataFrame(np.random.rand(3,3), columns=['a','b','c'], index=[1,2,3])
df

          a         b         c
1  0.503319  0.931268  0.417865
2  0.960658  0.699569  0.312304
3  0.516204  0.881030  0.624788

DataFrames have similar attributes as Series objects:

In [25]:
# DataFrame index
df.index

Int64Index([1, 2, 3], dtype='int64')

In [26]:
# DataFrame columns
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [27]:
# DataFrame values
df.values

array([[0.50331856, 0.93126799, 0.41786517],
       [0.96065816, 0.69956858, 0.31230423],
       [0.51620425, 0.88102998, 0.62478839]])

Indexing DataFrames columns follows the general syntax:

```
df[column(s)]
```

In addition, there are .loc and .iloc methods that allow you to access and update more specific information contained within the DataFrame. The .loc method accesses the [row(s), column(s)] data by index and column name. The .iloc method accesses the [row(s), column(s)] data by positional row and column indices.

In [23]:
# Basic column indexing
df['b'] # or df.b, only works if column name does not match a DataFrame method or have spaces

1    0.931268
2    0.699569
3    0.881030
Name: b, dtype: float64

In [24]:
# Multiple columns
df[['a','c']]

          a         c
1  0.503319  0.417865
2  0.960658  0.312304
3  0.516204  0.624788

In [28]:
# Columns and rows
print(df[['a','b']].loc[[1,2]])
print(df.loc[[1,2],['a','b']])

          a         b
1  0.503319  0.931268
2  0.960658  0.699569
          a         b
1  0.503319  0.931268
2  0.960658  0.699569

In [33]:
# Updating values using .loc
df.loc[1,'a'] = np.random.rand()
df

          a         b         c
1  0.097016  0.931268  0.417865
2  0.960658  0.699569  0.312304
3  0.516204  0.881030  0.624788

In [34]:
# .iloc method
df.iloc[:2, 2:]

          c
1  0.417865
2  0.312304

In [40]:
# Creating new columns - New value(s) will be broadcast (if applicable)
df['d'] = np.random.rand(3)
df

          a         b         c         d
1  0.097016  0.931268  0.417865  0.004364
2  0.960658  0.699569  0.312304  0.813747
3  0.516204  0.881030  0.624788  0.441208

In [41]:
# Creating new columns - Series
df['e'] = Series(np.random.rand(3), index=[1,2,4])  ## for the index that not match, it won't add into the df
df

          a         b         c         d         e
1  0.097016  0.931268  0.417865  0.004364  0.640272
2  0.960658  0.699569  0.312304  0.813747  0.374493
3  0.516204  0.881030  0.624788  0.441208       NaN

In [42]:
# Dropping rows
df.drop(2, axis=0)

          a         b         c         d         e
1  0.097016  0.931268  0.417865  0.004364  0.640272
3  0.516204  0.881030  0.624788  0.441208       NaN

In [43]:
# Dropping columns
df.drop('b', axis=1)  ## if add: 'replace = True', then delete it

          a         c         d         e
1  0.097016  0.417865  0.004364  0.640272
2  0.960658  0.312304  0.813747  0.374493
3  0.516204  0.624788  0.441208       NaN

In [44]:
# Display df
df

          a         b         c         d         e
1  0.097016  0.931268  0.417865  0.004364  0.640272
2  0.960658  0.699569  0.312304  0.813747  0.374493
3  0.516204  0.881030  0.624788  0.441208       NaN

In [55]:
# Deleting columns
del df['e']
df

KeyError: 'e'

### Filtering with Series and DataFrames

Similar to arrays, one of the primary techniques for filtering your data involves boolean arrays, which you can store as an array (to use multiple times) or apply inline (to use once). The key is that your boolean array must broadcast appropriately to the filtered object.

You can apply a filter to a Series, DataFrame column (which is also a Series), or a DataFrame, given the shape of the boolean array matches appropriately.

Comparisons for generating the boolean arrays can include:

* <, >, <=, >=, ==, !=
* in (membership) - also combine with not (not in)
* is (identity) - also combine with not (is not)
* .any(*axis*), .all(*axis*) where *axis* allows you to specify whether to aggregate across a row (1) or down a column (0)
* .isnull/.isna, .notnull/.notna methods (next)
* Vectorized string .is methods (later)
* Vectorized function applications (later)
* And more!

You can generate more complex comparisons using logical and, or, xor, or not operations:

* and, & (scalar) and np.logical_and (array)
* or, | (scalar) and np.logical_or (array)
* ^ (xor, scalar) and np.logical_xor (array)
* not (scalar), and np.logical_not (array)

You can also combine filtering with assignment, using the .loc method. Remember, the assigned object must broadcast appropriately to the filtered data structure. For example, a scalar will be broadcast to all values, a list or array dimensions must match appropriately, and a Series object must have the same indices (otherwise, you will get NaN).

In [54]:
# Column filter
df.loc[:, np.array([True,False,True,True])]

          a         c         d
1  0.097016  0.417865  0.004364
2  0.960658  0.312304  0.813747
3  0.516204  0.624788  0.441208

In [53]:
# Identify values greater than 0.5
mask = df > 0.5
mask

       a     b      c      d
1  False  True  False  False
2   True  True  False   True
3   True  True   True  False

In [48]:
# Apply mask to DataFrame
df[mask]

          a         b         c         d
1       NaN  0.931268       NaN       NaN
2  0.960658  0.699569       NaN  0.813747
3  0.516204  0.881030  0.624788       NaN

In [49]:
# Apply any or all method to mask - down each column (axis=0), across each row (axis=1)
amask = mask.any(axis=0)
amask

a    True
b    True
c    True
d    True
dtype: bool

In [50]:
# Apply amask to DataFrame - must match dimensions
df.loc[:, amask]

          a         b         c         d
1  0.097016  0.931268  0.417865  0.004364
2  0.960658  0.699569  0.312304  0.813747
3  0.516204  0.881030  0.624788  0.441208

In [56]:
# Apply filter inline
df[df > 0.5]

          a         b         c         d
1       NaN  0.931268       NaN       NaN
2  0.960658  0.699569       NaN  0.813747
3  0.516204  0.881030  0.624788       NaN

In [57]:
# Apply filter based on column values
df['color'] = 'blue', 'green', 'blue'
df[df['color'] == 'blue']

          a         b         c         d color
1  0.097016  0.931268  0.417865  0.004364  blue
3  0.516204  0.881030  0.624788  0.441208  blue

In [58]:
# Apply filter to specific column
print(df['b'][df['color'] == 'green'])
print(df.loc[df['color'] == 'green', 'b'])

2    0.699569
Name: b, dtype: float64
2    0.699569
Name: b, dtype: float64

In [59]:
# Combine filtering with assignment
df.loc[df['color'] == 'green', 'b'] = 0
df

          a         b         c         d  color
1  0.097016  0.931268  0.417865  0.004364   blue
2  0.960658  0.000000  0.312304  0.813747  green
3  0.516204  0.881030  0.624788  0.441208   blue

### Descriptive Statistics

Similar to arrays, there are many built-in functions and methods for computing descriptive statistics on Series and DataFrame objects:

* .count
* .describe
* .min, .max
* .argmin, .argmax
* .idxmin, .idxmax
* .quantile
* .sum
* .mean
* .median
* .mad (mean absolute deviation)
* .prod
* .var
* .std
* .skew
* .kurt
* .cumsum
* .cummin, .cummax
* .cumprod
* .diff
* .pct_change

Some of these functions are aggregation functions and some are non-aggregation functions. In addition, many functions have an *axis* input that allows you to compute the function down each column (*axis* = 0) or across each row (*axis* = 1).

In addition, there are correlation and covariance methods:

* ser.corr or df.corr
* ser.cov or df.cov
* df.corrwith

And summary and comparison functions for categorical data:

* .unique (unique values)
* .value_counts (frequency summary)
* .isin (membership)

In [60]:
# Create series object
ser = Series(np.random.randn(100))

In [61]:
# .describe method
ser.describe()

count    100.000000
mean       0.084575
std        0.965957
min       -3.102383
25%       -0.579796
50%        0.144735
75%        0.649763
max        2.334708
dtype: float64

In [69]:
# Create DataFrame object
df = DataFrame(np.random.randn(100,3))
print(df)

           0         1         2
0   1.133701  1.283727  0.163394
1   1.457114 -0.919319  0.392100
2  -0.397320  0.593611 -0.397124
3   1.418570 -0.739118 -1.554320
4  -0.283329 -0.525920 -0.998178
5   1.113021  0.232237  1.781409
6   0.394568  0.243915 -0.663487
7   0.085282 -1.760521  0.586684
8   1.078199  1.462805  0.942629
9  -2.026391  1.541284 -0.064902
10  0.283709 -0.924135 -1.108038
11 -0.535773 -0.183757 -1.231965
12 -0.566419 -0.945146 -0.374427
13  1.154925 -0.062076  1.457938
14 -0.228744  0.956415  0.418546
15  0.774700  0.004729 -1.159799
16 -1.134315 -1.856793 -3.060259
17 -1.614082 -0.195221  1.396031
18  0.293849 -0.323014  0.263795
19 -0.863461 -1.535463 -0.056045
20 -0.715780 -1.525232  0.786494
21 -0.979379 -1.396758  1.543805
22 -1.065515 -0.588687 -1.091363
23  0.660393  0.638514 -1.259312
24  0.380873 -0.132596 -0.623588
25  0.453628  1.065575 -0.836672
26  1.229094 -1.474988  0.885365
27 -2.015197 -0.491324 -0.558248
28 -0.288312  0.934206  0.493076
29  0.242198 -0.210466  0.092664
..       ...       ...       ...
70  0.033999  2.444846  1.147932
71 -2.161660  1.650884  3.390735
72  0.347587  1.324600 -1.263273
73 -1.980192  0.205829 -0.063083
74 -1.479291 -1.381408  0.577804
75  1.356699 -0.786373 -1.869141
76 -0.624619 -1.362715 -1.317217
77 -0.390625 -0.993262 -0.331339
78  0.719441 -0.005306 -0.986562
79  0.377928 -1.190196 -0.154793
80 -0.775176  0.512824 -0.180668
81 -0.535511 -0.280898 -1.851367
82 -0.536608 -0.422334 -0.444983
83 -0.991290 -0.386508 -1.029232
84 -0.128477  1.786570  0.675931
85  0.229118 -1.303537 -0.967821
86  1.843724 -1.217133 -0.040354
87  0.707974  0.307520  0.969296
88  1.084401  1.463006  0.635807
89 -1.085033  0.183361  0.558738
90  0.000455 -2.085943 -0.327723
91  1.599342 -0.747406 -0.370708
92 -0.025815  0.824422  0.354538
93  0.495696 -0.917713  0.299655
94  0.730598  0.207399  0.499877
95  1.186052  0.773995 -0.856972
96  0.492736  0.206978  0.207152
97  0.750684  0.577594 -0.470409
98 -1.043439  1.166994  0.826548
99  0.566063 -1.368224  0.721016

[100 rows x 3 columns]

In [63]:
# Compute summary statistic across row (axis=1) or column (axis=0)
df.sum(axis=0)

0    10.039093
1     1.736637
2   -19.654821
dtype: float64

In [64]:
# Correlation matrix
df.corr()

          0         1         2
0  1.000000 -0.231080  0.069319
1 -0.231080  1.000000 -0.078348
2  0.069319 -0.078348  1.000000

In [65]:
# Create categorical series
cser = Series(['green'] * 20 + ['red'] * 25 + ['blue'] * 10)
cser.head()

0    green
1    green
2    green
3    green
4    green
dtype: object

In [66]:
# Unique values
cser.unique()

array(['green', 'red', 'blue'], dtype=object)

In [67]:
# Value counts
cser.value_counts()

red      25
green    20
blue     10
dtype: int64

In [68]:
# Membership
cser.isin(['green','red']).sum()

45

### Arithmetic Operations and Data Alignment

Similar to arrays, arithmetic operations (and comparisons) involving Series and DataFrame objects are flexible. The interpreter will attempt to broadcast scalars and sequences to the appropriate Series and DataFrame dimensions (if possible).

However, for arithmetic operations (and comparisons) strictly involving Series and/or DataFrame objects, the interpreter will match the indices of the objects and perform the operation between matching elements (i.e., those with the same index *and* column). This process is called *data alignment* and is an important aspect of working with pandas data structures. Operations involving entries (indices) that exist in one object and not in the other will result in NaN. To get around this issue, you can make sure beforehand that the indices match, or you perform the operation by casting to an array.

In [70]:
# Create Series objects
ser1 = Series([1,2,3])
ser2 = Series([1,2,3], index=[1,2,3])
DataFrame({'1': ser1, '2': ser2})

     1    2
0  1.0  NaN
1  2.0  1.0
2  3.0  2.0
3  NaN  3.0

In [71]:
# Arithmetic between Series and scalar
ser1 + 5

0    6
1    7
2    8
dtype: int64

In [72]:
# Arithmetic between Series and sequence
ser1 + np.array([10,20,30]) # works for list and tuples too

0    11
1    22
2    33
dtype: int64

In [73]:
# Arithmetic between two Series objects
ser1 + ser2

0    NaN
1    3.0
2    5.0
3    NaN
dtype: float64

In [74]:
# Arithmetic methods - .add, .sub, .div, .floordiv, .mul, .pow
ser1.add(ser2, fill_value=0)  ## add according value in ser2, if no, add fill_value = 0

0    1.0
1    3.0
2    5.0
3    3.0
dtype: float64

In [75]:
# Create two DataFrames
df1 = DataFrame(np.random.rand(3,3))
df1

          0         1         2
0  0.166571  0.780159  0.826910
1  0.825285  0.438142  0.853465
2  0.063362  0.598457  0.921757

In [76]:
df2 = DataFrame(np.random.rand(3,3), index=[1,2,3], columns=[1,2,3])
df2

          1         2         3
1  0.526891  0.263826  0.646319
2  0.508923  0.529361  0.514153
3  0.598165  0.683519  0.249199

In [77]:
# Perform operation between DataFrames
df1 + df2  ## will do the calculation if overlap

    0         1         2   3
0 NaN       NaN       NaN NaN
1 NaN  0.965032  1.117292 NaN
2 NaN  1.107380  1.451118 NaN
3 NaN       NaN       NaN NaN

In [78]:
# Perform operation between DataFrame values
DataFrame(df1.values + df2.values)   ## or we can just calculate the value of each dataframe

          0         1         2
0  0.693461  1.043985  1.473230
1  1.334208  0.967503  1.367618
2  0.661526  1.281976  1.170956

### Function Application and Mapping

Similar to arrays, Series and DataFrames support fast computation and comparison operations. NumPy universal functions (e.g., np.abs, np.square, np.log, np.exp, etc.) work as expected (for both Series and DataFrame objects with numerical data).

However, there are many operations that we would like to apply that do not have built in functions or methods. Here is where our lambda functions come in handy, but we can use fully defined functions as well. There are three primary methods for applying custom functions to Series or DataFrame objects:

* Series .map method - Applies function to each element in Series
* DataFrame .apply method - Applies function column- or row-wise
* DataFrame .applymap method - Applies function to each element in DataFrame

In [79]:
# Apply NumPy universal function
df = DataFrame(np.random.rand(3,5))
print(df)
np.exp(df)

          0         1         2         3         4
0  0.574464  0.567811  0.410857  0.458033  0.144544
1  0.532910  0.937930  0.702664  0.868098  0.068477
2  0.123417  0.066434  0.491749  0.798128  0.772748

          0         1         2         3         4
0  1.776178  1.764400  1.508110  1.580961  1.155513
1  1.703883  2.554688  2.019125  2.382375  1.070876
2  1.131356  1.068691  1.635173  2.221378  2.165709

In [80]:
# Series map method - Numerical computation
ser = Series(np.random.rand(10))
print(ser)
ser.map(lambda x: x ** 2)

0    0.960135
1    0.155434
2    0.755345
3    0.163024
4    0.089461
5    0.610465
6    0.664257
7    0.645732
8    0.892624
9    0.267533
dtype: float64

0    0.921859
1    0.024160
2    0.570546
3    0.026577
4    0.008003
5    0.372668
6    0.441238
7    0.416970
8    0.796777
9    0.071574
dtype: float64

In [81]:
# Series .map method - String operation
Series({1: 'The Green Mile', 2: 'Black Panther', 3: 'The Bourne Identity'}).map(lambda s: len(s.split()))

1    3
2    2
3    3
dtype: int64

In [82]:
# DataFrame .apply method - down each column (axis=0), across each row (axis=1)
print(df)
print(df.apply(lambda arr: arr / arr.sum(), axis=1))

          0         1         2         3         4
0  0.574464  0.567811  0.410857  0.458033  0.144544
1  0.532910  0.937930  0.702664  0.868098  0.068477
2  0.123417  0.066434  0.491749  0.798128  0.772748
          0         1         2         3         4
0  0.266485  0.263399  0.190590  0.212474  0.067052
1  0.171349  0.301578  0.225931  0.279124  0.022018
2  0.054792  0.029494  0.218315  0.354334  0.343066

In [83]:
# DataFrame .applymap method
df.applymap(lambda x: x / df.sum().sum())

          0         1         2         3         4
0  0.076409  0.075524  0.054648  0.060923  0.019226
1  0.070882  0.124754  0.093461  0.115465  0.009108
2  0.016416  0.008836  0.065407  0.106159  0.102783

### Sorting and Ranking

Oftentimes, you will want to sort your Series or DataFrame objects according to some of the contained data. The primary method for sorting is:
```
ser.sort_values(ascending=True/False)
df.sort_values(by=column(s), ascending=True/False)
```

To re-sort your data structure into its original form, use the sort.index method.

Alternatively, you can determine the rank of each value using the .rank method.

In [84]:
# Sort series
ser.sort_values(ascending=True)

4    0.089461
1    0.155434
3    0.163024
9    0.267533
5    0.610465
7    0.645732
6    0.664257
2    0.755345
8    0.892624
0    0.960135
dtype: float64

In [85]:
# Sort DataFrame
df.sort_values(by=1, ascending=False)

          0         1         2         3         4
1  0.532910  0.937930  0.702664  0.868098  0.068477
0  0.574464  0.567811  0.410857  0.458033  0.144544
2  0.123417  0.066434  0.491749  0.798128  0.772748

In [86]:
# Rank method - by column (axis=0), by row (axis=1)
df.rank(axis=0, method='average', ascending=True) # method = 'average', 'min', 'max', 'first', 'dense'

     0    1    2    3    4
0  3.0  2.0  1.0  1.0  2.0
1  2.0  3.0  3.0  3.0  1.0
2  1.0  1.0  2.0  2.0  3.0

## Next Time: Data Import and Export